.cloud-connect-button {
    box-shadow: 0 0 0 #000;
    margin: 0 10px;
    opacity: 1;
    position: relative;
    top: 0;
    transform: scale(1);
    transition: box-shadow 0.1s, opacity 0.15s, top 0.25s, transform 0.2s;
}
.cloud-connect:hover .cloud-connect-button {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    top: -1px;
}
.cloud-connect .cloud-connect-button:hover {
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
    top: -2px;
    transform: scale(1.05);
}
.cloud-connect .cloud-connect-button:active {
    box-shadow: 0 0 0 #000;
    opacity: 0.8;
    top: 1px;
    transform: scale(1.025);
}
