{
  "plugins": [
    "check-es2015-constants",
    "syntax-trailing-function-commas",
    "transform-async-to-generator",
    "transform-exponentiation-operator",
    "transform-class-properties",
    "transform-decorators",
    "transform-es2015-destructuring",
    "transform-object-rest-spread"
  ],
  "presets": [
    "react"
  ]
}
